body{
    margin:0;
    padding:0;
}

.container > #title{
    text-align: center;
    margin-top:1%;
}
.container > .wrapper{
    margin:0 auto;
    margin:1%;
    padding:1%;
    background-color:yellow;
    text-align: center;
    margin-top:1%;
}
.container > .wrapper > #description{
    font-family: 'Courier New', Courier, monospace;
}